<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Software Rasterizer</title>
</head>
<body>
<div class="canvas">
    <canvas id="canvas" width="800px" height="600px"></canvas>
</div>
<div class="canvas">
    <canvas id="depth" width="800px" height="600px"></canvas>
</div>
<div class="canvas">
    <canvas id="triangle" width="800px" height="600px"></canvas>
</div>


<div>
    <span id="rendering-time">111</span>
</div>

<script>
    const width = 400;
    const height = 300;
    const list = document.getElementsByTagName("canvas");
    for (let i = 0, len = list.length; i < len; i++) {
        list[i].width = width;
        list[i].height = height;
    }
</script>
</body>
</html>
