<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Software Rasterizer</title>
  </head>
  <body>
    <canvas id="gameCanvas" width="600" height="600"></canvas>
    <!-- <div> -->
      <!-- <br>
      <button id="left_most">&lt&lt</button>
      <button id="left">←</button>
      <button id="toggle_animation">Start animation</button>
      <button id="right">→</button>
      <button id="right_most">&gt&gt</button>
      <br> -->
      <!-- <br>
      <button id="bfs_search">BFS</button>
      <button id="dijkstra_search">Dijkstra</button>
      <button id="greedy_search">Greedy</button>
      <button id="astar_search">AStar</button> -->
    <!-- </div> -->
  </body>
</html>
